$text-color-black:#000;
$main-font :"Poppins", sans-serif;
$text-color-green: #B88E2F;
$bg-color-grey:#3A3A3A;
$bg-color-white:#FFF;
$bg-color-black : #000;
$text-color-white : #fff;
$bg-color-icewhite: #F4F5F7;
$text-color-grey :#3A3A3A;
$text-color-light-grey :#898989;
$text-color-ice-grey : #B0B0B0;
$text-color-pink : #9F9F9F;
$text-color-gold : #FFC700;
$bg-color-blue : #816DFA;

